{% extends "EkolisEkoBundle::layout.html.twig" %}
{% block head %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('assets/js/angular/app/scripts/services/getFactory.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/angular/app/scripts/controllers/admin/UserCtrl.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/angular/app/scripts/controllers/admin/AdminBaliseCtrl.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/angular/app/scripts/controllers/admin/FleetCtrl.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/angular/app/scripts/controllers/admin/SubFleetCtrl.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/angular/app/scripts/directives/my-parsley.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/bowerDependencies/parsleyjs/dist/parsley.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/bowerDependencies/parsleyjs/dist/i18n/fr.js') }}"></script>
    <link rel="stylesheet" href="{{ asset('assets/bowerDependencies/parsleyjs/src/parsley.css') }}"/>
{% endblock %}
{% block content %}
    <div ng-app="EkolisApp">
        <div id="content" class="span10" style="min-height: 719px;">
            <div class="row-fluid" ng-controller="UserCtrl" data-ng-init="fetchUsers()">
                <div class="box span12">
                    <div class="box-header">
                        <h2><i class="halflings-icon white user"></i><span class="break"></span>Utilisateurs</h2>
                        <div class="box-icon">
                            <a href="#" class="btn-minimize"><i class="halflings-icon white chevron-up"></i></a>
                        </div>
                    </div>
                    <div class="box-content">
                        <button class="btn btn-success" ng-click="open()">Créer utilisateur</button>
                        <table class="table table-striped table-bordered bootstrap-datatable datatable user-table">
                            <thead>
                            <tr>
                                <th class="col-md-1">Id</th>
                                <th>Username</th>
                                <th>Password</th>
                                <th>Email</th>
                                <th>Flotte</th>
                                <th>Status</th>
                                <th>Role</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="(key, value) in users.userList()">
                                <td>{[{ value.id }]}</td>
                                <td class="center">{[{ value.username }]}</td>
                                <td class="center">{[{ value.password }]}</td>
                                <td class="center">{[{ value.email }]}</td>
                                <td class="center">{[{ value.fleet }]}</td>
                                <td class="center">
                                    <span class="label "
                                          ng-class="value.isActive ==  1 ? 'label-success' : 'label-important'"> {[{ value.isActive ==  1 ? 'Active' : 'Inactive' }]}</span>
                                </td>
                                <td class="center">{[{ value.roles }]}</td>
                                <td class="center">
                                    <a class="btn btn-info" ng-click="userUpdate('{{ url("admin") }}', value)">
                                        <i class="halflings-icon white edit"></i>
                                    </a>
                                    <a class="btn btn-danger" ng-click="userDelete(value.id)">
                                        <i class="halflings-icon white trash"></i>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="row-fluid" ng-controller="AdminBaliseCtrl" data-ng-init="fetchBalises()">
                <div class="box span12">
                    <div class="box-header">
                        <h2><i class="halflings-icon white align-justify"></i><span class="break"></span>Balises</h2>
                        <div class="box-icon">
                            <a href="#" class="btn-minimize"><i class="halflings-icon white chevron-up"></i></a>
                        </div>
                    </div>
                    <div class="box-content box-admin-fleet">
                        <button class="btn btn-success" ng-click="open()">Créer balise</button>
                        <table class="table table-striped table-bordered bootstrap-datatable datatable user-table">
                            <thead>
                            <tr>
                                <th>Device_id</th>
                                <th>Name</th>
                                <th>Flotte</th>
                                <th>Sous-flotte</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="(key, value) in balises.baliseList()">
                                <td class="center">{[{ value.deviceId }]}</td>
                                <td class="center">{[{ value.name }]}</td>
                                <td class="center">{[{ value.fleet }]}</td>
                                <td class="center">{[{ value.subFleet }]}</td>
                                <td class="center">
                                    <a class="btn btn-info" ng-click="open(value)">
                                        <i class="halflings-icon white edit"></i>
                                    </a>
                                    <a class="btn btn-danger" ng-click="baliseDelete(value.deviceId)">
                                        <i class="halflings-icon white trash"></i>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="row-fluid">
                <div class="box span6" ng-controller="FleetCtrl" data-ng-init="fetchFleets()">
                    <div class="box-header">
                        <h2><i class="halflings-icon white align-justify"></i><span class="break"></span>Flotte</h2>
                        <div class="box-icon">
                            <a href="#" class="btn-minimize"><i class="halflings-icon white chevron-up"></i></a>
                        </div>
                    </div>
                    <div class="box-content box-admin-fleet">
                        <button class="btn btn-success" ng-click="fleetCreate()">Créer flotte</button>
                        <table class="table table-striped table-bordered bootstrap-datatable datatable user-table">
                            <thead>
                            <tr>
                                <th>Nom</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="(key, value) in fleets.fleetList()">
                                <td>{[{ value.fleet }]}</td>
                                <td class="center">
                                    <a class="btn btn-danger" ng-click="fleetDelete(value.fleet)">
                                        <i class="halflings-icon white trash"></i>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="box span6" ng-controller="SubFleetCtrl" data-ng-init="fetchSubFleets()">
                    <div class="box-header">
                        <h2><i class="halflings-icon white align-justify"></i><span class="break"></span>Sous-Flotte</h2>
                        <div class="box-icon">
                            <a href="#" class="btn-minimize"><i class="halflings-icon white chevron-up"></i></a>
                        </div>
                    </div>
                    <div class="box-content box-admin-fleet">
                        <button class="btn btn-success" ng-click="open()">Créer sous-flotte</button>
                        <table class="table table-striped table-bordered bootstrap-datatable datatable user-table">
                            <thead>
                            <tr>
                                <th>Nom</th>
                                <th>Flotte</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="(key, value) in subFleets.subFleetList()">
                                <td>{[{ value.subFleet }]}</td>
                                <td>{[{ value.fleet }]}</td>
                                <td class="center">
                                    <a class="btn btn-info" ng-click="open(value)">
                                        <i class="halflings-icon white edit"></i>
                                    </a>
                                    <a class="btn btn-danger" ng-click="subFleetDelete(value.subFleet)">
                                        <i class="halflings-icon white trash"></i>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        {% include '@EkolisEko/Default/Forms/admin-user.html.twig' with {userForm: userForm} %}
        {% include '@EkolisEko/Default/Forms/admin-fleet.html.twig' with {fleetForm: fleetForm} %}
        {% include '@EkolisEko/Default/Forms/admin-subFleet.html.twig' with {subFleetForm: subFleetForm} %}
        {% include '@EkolisEko/Default/Forms/admin-beacon.html.twig' with {beaconForm: beaconForm} %}
        {% include '@EkolisEko/Default/Forms/admin-delete-confirm.html.twig' %}
    </div>
{% endblock %}
