{% extends "EkolisEkoBundle::layout.html.twig" %}
{% block head %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <style type="text/css">
        body {
            background: url({{ asset('assets/images/login_background.jpg') }}) no-repeat !important;
            background-size: 100% !important;
        }
    </style>
    <div class="row-fluid">

        <div class="row-fluid">


            <div class="loginmodal-container login-box">
                <h1>Connexion</h1><br>
                <form action="{{ path('login') }}" method="POST">
                    <!--<label for="username">Username:</label>-->
                    <input class="input-large span10" type="text" id="username" name="_username" value="{{ last_username }}" placeholder="Identifiant"/>

                    <!--<label for="password">Password:</label>-->
                    <input type="password" id="password" name="_password" placeholder="Mot de passe"/>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    <input type="hidden" name="_target_path" value="/map"/>

                    <button type="submit" class="login loginmodal-submit">Login</button>
                </form>
                {% if error %}
                    <div class="alert alert-danger">
                        <strong>{{ error.messageKey|trans(error.messageData, 'security') }}</strong>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}


