{% extends "EkolisEkoBundle::layout.html.twig" %}
{% block head %}
    {{ parent() }}
    <link href="{{ asset('assets/bowerDependencies/leaflet/dist/leaflet.css') }}" rel="stylesheet"/>
    <script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/leaflet.markercluster.js'></script>
    <link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.css'
          rel='stylesheet'/>
    <link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.Default.css'
          rel='stylesheet'/>
    <script src="{{ asset('assets/bowerDependencies/moment/min/moment.min.js') }}"></script>
    <script src="{{ asset('assets/bowerDependencies/moment-timezone/builds/moment-timezone-with-data.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/angular/app/scripts/controllers/map/MainCtrl.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/angular/app/scripts/controllers/map/RemonteCtrl.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/angular/app/scripts/controllers/map/RemontePt1000Ctrl.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/angular/app/scripts/controllers/map/RemonteTpmsCtrl.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/angular/app/scripts/services/shareFactory.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/angular/app/scripts/controllers/map/BaliseCtrl.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/angular/app/scripts/services/getFactory.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/angular/app/scripts/directives/my-map.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/timepicker.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/jquery.gritter.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/jquery.flot.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/jquery.flot.resize.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/angular/app/scripts/directives/my-datepicker.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/angular/app/scripts/directives/my-temperature.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/angular/app/scripts/directives/my-tmps-pressure.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/angular/app/scripts/directives/my-tpms-temp.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/angular/app/scripts/directives/my-pdf-pt1000.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/angular/app/scripts/directives/my-pdf-tpms.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/angular/app/scripts/directives/my-growl.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/bowerDependencies/jspdf/dist/jspdf.min.js') }}"></script>
    <script src="{{ asset('assets/js/html2canvas.js') }}"></script>
    <link href="{{ asset('assets/css/jquery.gritter.css') }}" rel='stylesheet'/>
{% endblock %}
{% block content %}
    {% if 'ROLE_ADMIN' in app.user.roles %}
        {% set user = 'super_admin' %}
    {% else %}
        {% set user = app.user.fleet.fleet %}
    {% endif %}
    <div ng-app="EkolisApp" ng-controller="MainCtrl">
        <div ng-controller="RemonteCtrl">
            <div id="content" class="span10" ng-controller="BaliseCtrl">
                <div class="row-fluid">
                    <div class="span3">
                        <div class="row-fluid">
                            <div class="box search-box-blue">
                                <div class="box-header">
                                    <h2><i class="halflings-icon white list"></i><span class="break"></span>Rechercher</h2>
                                    <div class="box-icon">
                                        <a href="#" class="btn-minimize"><i class="halflings-icon white chevron-up"></i></a>
                                    </div>
                                </div>
                                <div class="box-content search-content">
                                    <div class="filter-group">
                                        <button id="search-button-real-time" type="button"
                                                class="btn btn-primary btn-large btn-custom"
                                                ng-click="$watch(showDatePicker = false, showDatePicker2 = false, filter('time'))"
                                                ng-class="main.filter() == 'time' ? map.mode() == 'balise' ? 'balise-filter-clicked' : 'chariot-filter-clicked' : ''">
                                            Temps Réel
                                        </button>
                                        <button id="search-button-date" type="button"
                                                class="btn btn-primary btn-large btn-custom"
                                                ng-click="$watch(showDatePicker2 = false, showDatePicker = true, filter('date'))"
                                                ng-class="main.filter() == 'date' ? map.mode() == 'balise' ? 'balise-filter-clicked' : 'chariot-filter-clicked' : ''">
                                            Date Fixe
                                        </button>
                                        <button id="search-button_linked" type="button"
                                                class="btn btn-primary btn-large btn-custom btn-last"
                                                ng-click="$watch(showDatePicker = false, showDatePicker2 = true,  filter('link'))"
                                                ng-class="main.filter() == 'link' ? map.mode() == 'balise' ? 'balise-filter-clicked' : 'chariot-filter-clicked' : ''">
                                            Intervalle
                                        </button>
                                    </div>
                                    <table class="datepicker-fix">
                                        <tr>
                                            <td class="datepicker-position"></td>
                                            <td>
                                                <input class="input-range" type="text" placeholder="Entrer une date"
                                                       my-datepicker=""
                                                       ng-model="startDate"
                                                       ng-change="dateChanged(startDate)"
                                                       ng-show="showDatePicker"/>
                                                <input class="input-range-begin input-range" type="text"
                                                       placeholder="Début"
                                                       my-datepicker=""
                                                       ng-model="rangeBegin" ng-change="dateBeginChanged(rangeBegin)"
                                                       ng-show="showDatePicker2"/><br>
                                                <input class="input-range" type="text" placeholder="Fin"
                                                       my-datepicker=""
                                                       ng-model="rangeEnd"
                                                       ng-change="dateEndChanged(rangeEnd)"
                                                       ng-show="showDatePicker2"/></td>
                                        </tr>
                                    </table>
                                    <button id="search-button" type="button"
                                            class="btn btn-primary col-sm-8 col-md-8 col-lg-8"
                                            ng-click="mainSearch()">Rechercher
                                    </button>

                                    <div class="search-beacon-box typeahead-demo">
                                        <input placeholder="Rechercher une balise" type="text" ng-model="balise.beaconSelected" ng-model-options="{ getterSetter: true }" uib-typeahead="beacon for beacon in balise.beaconSearchList() | filter:$viewValue | limitTo:8" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="box panel-balise">
                                <div class="box-header box-header-custom box-list">
                                    <h2 class="remonte-font">Liste des balises
                                        {% if ('ROLE_SUPER_ADMIN' in app.user.roles) or (app.user.username == 'LE GUEVEL') %}
                                            <img id="arrow-balise" class="arrow-right" src="{{ asset('assets/images/arrow-right.png') }}"
                                                 ng-click="$watch(switchCluster(), setMode())"/>
                                        {% endif %}
                                    </h2>
                                    <div class="box-icon">
                                        <a href="#" class="btn-minimize"><i class="halflings-icon white chevron-up"></i></a>
                                    </div>
                                </div>
                                <div class="box-content panel-balise-list" data-ng-init="fetch('{{ user }}')">
                                    <div class="loading"></div>
                                    <ul id="balise-list-group" class="dashboard-list metro">
                                        <li class="li-balise" ng-repeat="(key, value) in balise.baliseList()">
                                            <div class="fleet-tree">
                                                <input id="check_fleet_{[{ key }]}" class="checkbox-custom tree-element-0" type="checkbox"
                                                       ng-attr-data-parents="{[{ key }]}"
                                                       ng-model="value.checkbox"
                                                       ng-click="baliseClick($event, 'balise')"/>
                                                <button id="fleet_{[{ key }]}" type="button" class="btn btn-balise-list"
                                                        ng-attr-data-parents="{[{ key }]}"
                                                        ng-class="{ 'btn-balise-clicked' : value.checkbox}"
                                                        ng-click="baliseClick($event, 'balise')">
                                                    {[{ key }]}
                                                </button>
                                                <div class="box-icon-tree btn-minimize-tree">
                                                    <a href="#" class=""><i class="halflings-icon chevron-down chevron-tree"></i></a>
                                                </div>
                                                <div class="tree-category">
                                                    <div class="tree-category-balise-content">
                                                        <div class="sub-fleet-tree tree-element" ng-repeat="(key2, value2) in value.data">
                                                            <input id="check_subfleet_{[{ key }]}_{[{ key2 }]}" class="checkbox-custom tree-element-1" type="checkbox"
                                                                   ng-attr-data-parents="{[{ key }]}_{[{ key2 }]}"
                                                                   ng-model="value2.checkbox"
                                                                   ng-click="baliseClick($event, 'balise')"/>
                                                            <button id="subfleet_{[{ key }]}_{[{ key2 }]}" type="button" class="btn btn-balise-list"
                                                                    ng-attr-data-parents="{[{ key }]}_{[{ key2 }]}"
                                                                    ng-class="{ 'btn-balise-clicked' : value2.checkbox}"
                                                                    ng-click="baliseClick($event, 'balise')">
                                                                {[{ key2 }]}
                                                            </button>
                                                            <div class="box-icon-tree btn-minimize-tree">
                                                                <a href="#" class=""><i class="halflings-icon chevron-down chevron-tree"></i></a>
                                                            </div>
                                                            <div class="tree-category">
                                                                <div class="tree-category-balise-content">
                                                                    <div class="balise-tree tree-element" ng-repeat="(key3, value3) in value2.data">
                                                                        <input id="check_{[{ key3 }]}" class="checkbox-custom tree-element-last" type="checkbox"
                                                                               ng-attr-data-parents="{[{ key }]}_{[{ key2 }]}_{[{ key3 }]}"
                                                                               ng-model="value3.checkbox"
                                                                               ng-click="baliseClick($event, 'balise')"/>
                                                                        <button id="{[{ key3 }]}" type="button" class="btn btn-balise-list"
                                                                                ng-attr-data-parents="{[{ key }]}_{[{ key2 }]}_{[{ key3 }]}"
                                                                                ng-class="{ 'btn-balise-clicked' : value3.checkbox}"
                                                                                ng-click="baliseClick($event, 'balise')">
                                                                            {[{ value3.name }]}
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="box panel-chariot">
                                <div class="box-header box-header-chariot box-header-custom box-list">
                                    <h2 class="remonte-font"><img id="arrow-chariot" class="arrow-left"
                                                                  src="{{ asset('assets/images/arrow-left.png') }}"
                                                                  ng-click="$watch(switchCluster(), setMode())"/>Liste des chariots</h2>
                                    <div class="box-icon">
                                        <a href="#" class="btn-minimize"><i class="halflings-icon white chevron-up"></i></a>
                                    </div>
                                </div>
                                <div class="box-content panel-chariot-list">
                                    <ul id="chariot-list-group" class="dashboard-list metro">
                                        <li class="li-chariot" ng-repeat="(key, value) in chariot.chariotList()">
                                            <div class="fleet-tree">
                                                <input id="chariot_check_fleet_{[{ key }]}" class="checkbox-custom tree-element-0" type="checkbox"
                                                       ng-attr-data-parents="{[{ key }]}"
                                                       ng-model="value.checkbox"
                                                       ng-click="baliseClick($event, 'chariot')"
                                                />
                                                <button id="chariot_fleet_{[{ key }]}" type="button" class="btn btn-chariot-list"
                                                        ng-attr-data-parents="{[{ key }]}"
                                                        ng-class="{ 'btn-chariot-clicked' : value.checkbox}"
                                                        ng-click="baliseClick($event, 'chariot')">
                                                    {[{ key }]}
                                                </button>
                                                <div class="box-icon-tree btn-minimize-tree">
                                                    <a href="#" class=""><i class="halflings-icon chevron-down chevron-tree"></i></a>
                                                </div>
                                                <div class="tree-category">
                                                    <div class="tree-category-chariot-content">
                                                        <div class="sub-fleet-tree tree-element" ng-repeat="(key2, value2) in value.data">
                                                            <input id="chariot_check_subfleet_{[{ key }]}_{[{ key2 }]}" class="checkbox-custom tree-element-1" type="checkbox"
                                                                   ng-attr-data-parents="{[{ key }]}_{[{ key2 }]}"
                                                                   ng-model="value2.checkbox"
                                                                   ng-click="baliseClick($event, 'chariot')"/>

                                                            <button id="chariot_subfleet_{[{ key }]}_{[{ key2 }]}" type="button" class="btn btn-chariot-list"
                                                                    ng-attr-data-parents="{[{ key }]}_{[{ key2 }]}"
                                                                    ng-class="{ 'btn-chariot-clicked' : value2.checkbox}"
                                                                    ng-click="baliseClick($event, 'chariot')">
                                                                {[{ key2 }]}
                                                            </button>
                                                            <div class="box-icon-tree btn-minimize-tree">
                                                                <a href="#" class=""><i class="halflings-icon chevron-down chevron-tree"></i></a>
                                                            </div>
                                                            <div class="tree-category">
                                                                <div class="tree-category-chariot-content">
                                                                    <div class="balise-tree tree-element" ng-repeat="(key3, value3) in value2.data">
                                                                        <input id="chariot_check_{[{ key3 }]}" class="checkbox-custom tree-element-last" type="checkbox"
                                                                               ng-attr-data-parents="{[{ key }]}_{[{ key2 }]}_{[{ key3 }]}"
                                                                               ng-model="value3.checkbox"
                                                                               ng-click="baliseClick($event, 'chariot')"/>
                                                                        <button id="{[{ key3 }]}" type="button" class="btn btn-chariot-list"
                                                                                ng-attr-data-parents="{[{ key }]}_{[{ key2 }]}_{[{ key3 }]}"
                                                                                ng-class="{ 'btn-chariot-clicked' : value3.checkbox}"
                                                                                ng-click="baliseClick($event, 'chariot')">
                                                                            {[{ value3.name }]}
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="span7">
                        <div class="row-fluid">
                            <div class="widget map-box-blue">
                                <h2><span class="glyphicons globe white"><i></i></span>Carte</h2>
                                <hr>
                                <div class="content">
                                    <div my-map></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="span2 remonte-list">
                        <div class="row-fluid">
                            <div class="box panel-balise-remonte">
                                <div class="box-header box-list">
                                    <h2 class="remonte-font">Remontées balise</h2>
                                </div>
                                <div id="panel-balise-remonte-body" class="box-content remonte-body">
                                </div>
                            </div>
                            <div class="box panel-chariot-remonte">
                                <div class="box-header box-header-chariot box-list">
                                    <h2 class="remonte-font">Remontées chariot</h2>
                                </div>
                                <div id="panel-chariot-remonte-body" class="box-content remonte-body">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="box span6" ng-controller="RemontePt1000Ctrl">
                        <div class="box-header">
                            <h2><i class="halflings-icon white list-alt"></i><span class="break"></span>Température Sonde PT1000</h2>
                            <div class="box-icon">
                                <a href="#" class="btn-minimize"><i class="halflings-icon white chevron-up"></i></a>
                            </div>
                            <div class="box-icon">
                                <a id="printPT1000" class="print" my-pdf-pt1000="" pdf-beacon="tempPoint"><i class="halflings-icon white print"></i></a>
                            </div>
                        </div>
                        <div class="box-content temp-content" my-temperature></div>
                    </div>

                    <div class="box span6" ng-controller="RemonteTpmsCtrl">
                        <div class="box-header">
                            <h2><i class="halflings-icon white list-alt"></i><span class="break"></span>Pression TPMS</h2>
                            <div class="box-icon">
                                <a href="#" class="btn-minimize"><i class="halflings-icon white chevron-up"></i></a>
                            </div>
                            <div class="box-icon">
                                <a id="printPT1000" class="print" my-pdf-tpms="" pdf-tpms-beacon="tpmsPoint"><i class="halflings-icon white print"></i></a>
                            </div>
                        </div>
                        <div class="box-content temp-content">
                            <div class="loading-temp"></div>
                            <div>
                                <span>Sélectionner une balise: </span>
                                <select ng-model="tpmsPoint" ng-model-options="{ getterSetter: true }"
                                        ng-options="item as item.name for item in tpms.tpmsList() track by item.id">
                                    <option value="" selected hidden/>
                                </select>
                            </div>
                            <div id="tpms-chart-container">
                                <div id="tpms-pressure-chart" class="center" my-pressure="" tpms-source="tpmsData" tpms-pick="tpmsPoint" ng-attr-data-selected="idTempSelected"
                                     style="height:300px;"></div>
                                <!--<p id="hoverdata">Mouse position at (<span id="x">0</span>, <span id="y">0</span>). <span id="clickdata"></span></p>-->
                                <p id="tpms-pressure-hoverdata"><span id="tpms-pressure-clickdata"></span></p>
                            </div>
                            <div id="tpms-temp-chart-container">
                                <div id="tpms-temp-chart" class="center" my-tpms-temp="" tpms-source="tpmsData" tpms-pick="tpmsPoint" ng-attr-data-selected="idTempSelected"
                                     style="height:300px;"></div>
                                <p id="tpms-temp-hoverdata"><span id="tpms-temp-clickdata"></span></p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
