<!doctype html>
<html>
{% block head %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link id="ie-style" href="{{ asset('assets/css/halflings.css') }}" rel="stylesheet">

    <link id="bootstrap-style" href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/bootstrap-responsive.min.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}"/>

    <link id="base-style-responsive" href="{{ asset('assets/css/style-responsive.css') }}" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&subset=latin,cyrillic-ext,latin-ext'
          rel='stylesheet' type='text/css'>
    <link id="ie-style" href="{{ asset('assets/css/ie.css') }}" rel="stylesheet">

    <link id="ie9style" href="{{ asset('assets/css/ie9.css') }}" rel="stylesheet">

    <link rel="stylesheet" href="{{ asset('assets/bowerDependencies/jquery-ui/themes/base/jquery-ui.min.css') }}"/>
    <script type="text/javascript" src="{{ asset('assets/bowerDependencies/jquery/dist/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/bowerDependencies/leaflet/dist/leaflet.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/bowerDependencies/angular/angular.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/bowerDependencies/angular-resource/angular-resource.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/bowerDependencies/angular-route/angular-route.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/bowerDependencies/angular-animate/angular-animate.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/bowerDependencies/jquery-ui/jquery-ui.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/bowerDependencies/angular-bootstrap/ui-bootstrap-tpls.min.js') }}"></script>
    <!--<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.js"></script>-->
    <!--<script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-1.3.3.js"></script>-->
    <script type="text/javascript" src="{{ asset('assets/js/angular/app/scripts/app.js') }}"></script>
    <link rel="icon" sizes="16x16" href="{{ asset('favicon.ico') }}"/>

    <script>
        var assetsBaseDir = "{{ asset('assets/') }}"
    </script>
    <script src="//localhost:35729/livereload.js"></script>

{% endblock %}


{% block body %}
    <div class="navbar">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a class="brand" href="#"><span>Ekolis Manager</span></a>

                <div class="nav-no-collapse header-nav">
                    <ul class="nav pull-right">
                        {% if app.user %}
                            <li class="dropdown">
                                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                                    <i class="halflings-icon white user"></i> {{ app.user.username }}
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="dropdown-menu-title">
                                        <span>Paramètres</span>
                                    </li>
                                    <!--<li><a href="#"><i class="halflings-icon user"></i> Profile</a></li>-->
                                    <li><a href="logout"><i class="halflings-icon off"></i> Déconnexion</a></li>
                                </ul>
                            </li>
                        {% endif %}

                    </ul>
                </div>

            </div>
        </div>
    </div>
    <div class="container-fluid-full">
        <div class="row-fluid">
            <div id="sidebar-left" class="span2">
                <div class="nav-collapse sidebar-nav">
                    <ul class="nav nav-tabs nav-stacked main-menu">
                        {% if 'ROLE_ADMIN' in app.user.roles %}
                            <li><a href="{{ url('admin') }}"><i class="icon-edit"></i><span class="hidden-tablet">Administration</span></a></li>
                        {% endif %}
                        <li><a href="{{ url('map') }}"><i class="icon-globe"></i><span class="hidden-tablet">Carte</span></a></li>
                    </ul>
                </div>
            </div>
            {% block content %}{% endblock %}
        </div>
    </div>
    <div class="clearfix"></div>

    <footer>

        <p>
            <span style="text-align:left;float:left">&copy; 2013 <a href="http://themifycloud.com/downloads/janux-free-responsive-admin-dashboard-template/"
                                                                    alt="Bootstrap_Metro_Dashboard">JANUX Responsive Dashboard</a></span>

        </p>

    </footer>
    <script type="text/javascript" src="{{ asset('assets/js/main.js') }}"></script>
{% endblock %}

</html>
