<script type="text/ng-template" id="baliseModalContent.html">
    <div class="modal-header">
        <h3 class="modal-title">Gestion Balise</h3>
    </div>
    <div class="modal-body">
        {{ form_start(beaconForm, {'attr': {'class': 'form-horizontal', 'my-parsley': ''} }) }}
        <div ng-if="valIdForm != ''">
            <input type="hidden" id="balise_id" name="id" value="{[{ valIdForm }]}"/>
        </div>
        {{ form_row(beaconForm.deviceId, {'attr':{'ng-model':'valdeviceIdForm', 'data-parsley-required': 'true'}}) }}
        {{ form_row(beaconForm.name, {'attr':{'ng-model':'valNameForm', 'data-parsley-required': 'true'}}) }}
        {{ form_row(beaconForm.fleet, {'attr':{'ng-model':'valFleetForm', 'data-parsley-required': 'true'}}) }}
        {{ form_row(beaconForm.subFleet, {'attr':{'ng-model':'valSubFleetForm', 'style':'display: none'}}) }}
        <select name="balise_subFleet" ng-model="valSubFleetForm">
            <option  value=""></option>
            <option ng-repeat="(key, value) in baliseForm.valSubFleetModel()" value="{[{ key }]}" ng-show="value.show">{[{ key }]}</option>
        </select>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Sauvegarder</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
        {{ form_end(beaconForm) }}
    </div>
</script>
