<script type="text/ng-template" id="fleetModalContent.html">
    <div class="modal-header">
        <h3 class="modal-title">Gestion Flotte</h3>
    </div>
    <div class="modal-body">
        {{ form_start(fleetForm, {'attr': {'class': 'form-horizontal', 'my-parsley': ''} }) }}
        {{ form_row(fleetForm.fleet, {'attr':{'ng-model':'valFleetForm', 'data-parsley-required': 'true'}}) }}
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Sauvegarder</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
        {{ form_end(fleetForm) }}
    </div>
</script>
