<script type="text/ng-template" id="userModalContent.html">
    <div class="modal-header">
        <h3 class="modal-title">Gestion Utilisateur</h3>
    </div>
    <div class="modal-body">
        {{ form_start(userForm, {'attr': {'class': 'form-horizontal', 'my-parsley': ''} }) }}
        <div ng-if="valIdForm != ''">
            <input type="hidden" id="user_id" name="id" value="{[{ valIdForm }]}"/>
        </div>
        {{ form_row(userForm.username, {'attr':{'ng-model':'valUsernameForm', 'data-parsley-required': 'true'}}) }}
        {{ form_row(userForm.password, {'attr':{'ng-model':'valPasswordForm', 'data-parsley-required': 'true'}}) }}
        {{ form_row(userForm.email, {'attr':{'ng-model':'valEmailForm', 'data-parsley-required': 'true'}}) }}
        {{ form_row(userForm.isActive, {'attr':{'ng-model':'valIsActiveForm', 'data-parsley-required': 'true'}}) }}
        {{ form_row(userForm.roles, {'attr':{'ng-model':'valRoleForm', 'data-parsley-required': 'true'}}) }}
        {{ form_row(userForm.fleet, {'attr':{'ng-model':'valFleetForm'}}) }}
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Sauvegarder</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
        {{ form_end(userForm) }}
    </div>
</script>
