<script type="text/ng-template" id="subFleetModalContent.html">
    <div class="modal-header">
        <h3 class="modal-title">Gestion Sous-Flotte</h3>
    </div>
    <div class="modal-body">
        {{ form_start(subFleetForm, {'attr': {'class': 'form-horizontal', 'my-parsley': ''} }) }}
        <div ng-if="valIdForm != ''">
            <input type="hidden" id="subFleet_id" name="id" value="{[{ valIdForm }]}"/>
        </div>
        {{ form_row(subFleetForm.subfleet, {'attr':{'ng-model':'valSubFleetForm'}}) }}
        {{ form_row(subFleetForm.fleet, {'attr':{'ng-model':'valFleetForm', 'data-parsley-required': 'true'}}) }}
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Sauvegarder</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
        {{ form_end(subFleetForm) }}
    </div>
</script>
