<script type="text/ng-template" id="userConfirmModal.html">
    <div class="modal-header">
        <h3 class="modal-title">Confirmation</h3>
    </div>
    <div class="modal-body">
        <p>Êtes-vous sûr de vouloir supprimer {[{ labelDeleteForm }]} avec l'id {[{ valIdForm }]}</p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
</script>
