<div>
    <div class="loading-temp"></div>
    <div>
        <span>Sélectionner une balise: </span>
        <select ng-model="tempPoint" ng-model-options="{ getterSetter: true }"
                ng-options="item as item.name for item in pt1000.pt1000List() track by item.id">
            <option value="" selected hidden/>
        </select>
    </div>
    <div id="temp-chart-container">
        <div id="temp-chart" class="center"
             style="height:300px;"></div>
        <!--<p id="hoverdata">Mouse position at (<span id="x">0</span>, <span id="y">0</span>). <span id="clickdata"></span></p>-->
        <p id="hoverdata"><span id="clickdata"></span></p>
    </div>
</div>